.jaw-message-wrapper {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2000;
    max-width: calc(100% - 10px);
}
.jaw-message-wrapper li {
    margin-left: 10px;
}

.rotate {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.refresh-button {
    font-size: 25px;
    cursor: pointer;
}
.collapse-button {
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
}

.multiple-container {
    min-height: 20px;
    height: auto;
    padding: 5px 10px;
    width: 100%;
    margin-top: 5px;
}

.multiple-container .multiple-chosen {
    border-radius: 2px;
    padding: 2px;
}

.multiple-container .multiple-chosen:hover {
    background-color: lightblue;
}

.multiple-container:empty:after {
    content: 'Нет элементов';
}

.multiple select {
    min-height: 200px;
}

.table .table-remove {
    color: #af1010;
}

#guide-panel .panel-body {
    padding: 0;
}
#guide-panel .panel-body hr {
    margin: 0;
}
#guide-panel .panel-body button {
    margin: 5px;
}

#guide-panel .table {
    margin: 0 2px 2px 0;
}

#guide-panel .glyphicon-plus {
    font-size: 20px;
    width: 100%;
    text-align: right;
}

#guide-edit-modal .panel {
    padding: 0;
    margin-top: 20px;
}

.column-container form {
    margin-bottom: 10px;
}

.column-container hr {
    margin: 0 0 10px;
    position: relative;
    border: 1px dotted #d3d3d3;
}