.jaw-message-wrapper {
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 2000;
    max-width: calc(100% - 10px);
}
.jaw-message-wrapper li {
    margin-left: 10px;
}

.rotate {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.refresh-button {
    font-size: 25px;
    cursor: pointer;
}
.collapse-button {
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
}

.multiple .multiple-value {
    min-height: 100px;
}

.multiple-container {
    min-height: 20px;
    height: auto;
    padding: 5px 10px;
    width: 100%;
    margin-top: 5px;
}

.multiple-container .multiple-chosen {
    border-radius: 2px;
    padding: 2px;
}

.multiple-container .multiple-chosen:hover {
    background-color: lightblue;
}

.multiple-container:empty:after {
    content: 'Нет элементов';
}

.multiple select {
    min-height: 200px;
}

.table .table-remove {
    color: #af1010;
}

#guide-panel .panel-body {
    padding: 0;
}
#guide-panel .panel-body hr {
    margin: 0;
}
#guide-panel .panel-body button {
    margin: 5px;
}

#guide-panel .table {
    margin: 0 2px 2px 0;
}

#guide-panel .glyphicon-plus {
    font-size: 20px;
    width: 100%;
    text-align: right;
}

#guide-edit-panel .panel {
    padding: 0;
    margin-top: 20px;
}

.column-container form {
    margin-bottom: 10px;
}

.column-container hr {
    margin: 0 0 10px;
    border: 1px dotted #d3d3d3;
    position: relative;
}

#guide-table tbody tr td:not(:last-child) {
    cursor: pointer;
}

.glyphicon-red {
    color: #af1010;
    cursor: pointer;
}

/* From Bootstrap 3.3.2 */
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.guide-column-handle {
    background-color: whitesmoke;
    border-radius: 5px;
}

.column-container .ui-sortable-helper {
    /*border: 1px dotted #d3d3d3;*/
}

#guide-edit-values-modal .modal-body {
    padding-bottom: 0;
}

.popover {
    width: auto;
    max-width: 100%;
}

.patient-info label {
    text-align: left;
}

#medcard-search-button,
#medcard-register-button,
#medcard-edit-button {
    width: 200px;
}

#medcard-search-table-wrapper {
    height: auto;
    /*overflow: scroll;*/
    text-align: center;
    margin-bottom: -50px;
}

#medcard-table tr[data-id]:hover td,
#medcard-table .medcard-table-active td {
    background-color: #c3e8f7;
    cursor: pointer;
}

.medcard-viewer .panel-body {
    margin: 0;
    padding: 0;
}

.medcard-info {
    font-size: 14px;
}

.treatment-header-wrapper {
    text-align: center;
    width: 100%;
}

.treatment-header-wrapper {
    width: 100%;
}

.treatment-table-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.treatment-header {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-bottom: 75px;
}

.treatment-header .col-xs-6,
.treatment-header .col-xs-12,
.treatment-header .col-xs-4 {
    padding-right: 2px;
    padding-left: 2px;
}

.treatment-header-rounded {
    display: table;
    border: 1px #47a347 solid;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    margin: 2px;
    height: 50px;
    white-space: normal;
}

.treatment-header .btn-default {
    border-color: #47a347;
}

.treatment-header-rounded .row {
    display: table-cell;
    vertical-align: middle;
}

.treatment-header-wrapper .active {
    background-color: #47a347;
    color: white;
    border: none;
}

.treatment-header-wrapper .treatment-header-rounded span.badge {
    position: absolute;
    transform: translate(calc(100% - 20px), -2px) scale(0.75);
    border: 1px darkred solid;
    background-color: white;
    color: black;
}