@mainBg: rgb(245, 247, 235);

#sheduleNavbar {
	min-height: 100px;
	background: @mainBg;
	padding: 10px 0;
	.glyphicon-cog {
		position: absolute;
		margin-left: 80%;
		margin-top: -10px;
		font-size: 25px;
		padding-left: 10px;
		padding-bottom: 10px;
		border-bottom-left-radius: 8px;
		background: rgb(235, 239, 214);
		cursor: pointer;
		width: 100px;
		opacity: 0;
	}
	.popover {
		top: 3px;
		.arrow {
			top : -30px;
			background : #f7f7f7;
		}
		.popover-title {
			font-size : 16px;
			font-weight : bold;
		}
		form {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		input {
			position: relative;
			top: -5px;
		}
		#password {
			margin-left: 10px;
		}
		#loginSubmit {
			left: 20px;
		}
	}
}
body {
	overflow-y: hidden;
	overflow-x: hidden;
	width: 98%;
}
#logo {
	float: left;
}
#dateCont {
	margin-top: 30px;
	font-size: 23px;
	text-align: center;
	width: 100%;
}
#timeCont {
	width: 100px;
	height: 50px;
	background: #ffffff;
	border-radius: 8px;
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 22px;
}
#withoutIds {
	min-height: 200px;
}
#publicSheduleTable {
	margin-left: 1.5%;
	td {
		text-align: center;
		vertical-align: middle;
	}
	td:not(:first-child) {
		width: 151px;
	}
	thead {
		background: @mainBg;
		font-weight: bold;
		tr {
			td:first-child {
				font-size: 20px;
			}
			td:not(:first-child) {
				font-size: 17px;
			}
		}
	}
	tbody {
		tr {
			background: rgb(194, 250, 194);
			font-size: 18px;
			td:first-child { 
				text-align: left;
				padding-left: 30px;
			}
		}
		tr:nth-child(odd) {
			background: rgb(139, 218, 139);
		}
		td {
			border: 2px solid #ffffff;
		}
	}
}
#datetimeInfoCont {
	
}
#sheduleRow {
	margin-top: 130px;
	padding: 0 10px 0 20px;
}
.marquee {
	height: 45px;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	margin-left: 1.5%;
	background: @mainBg;
	overflow: hidden;
	white-space: nowrap;
}
.profession {
	font-size: 14px;
	display: block;
}
.sheduleTr {
	min-height: 70px;
	height: 70px;
}

.chooser {
  .input-group-addon {
    position: relative;
    top: 0;
    cursor: pointer;
  }
  .variants {
    width: 100%;
    height: auto;
    border: 2px solid #E6E6E6;
    position: absolute;
    padding: 0;
    background: #ffffff;
    z-index: 99;
    li {
      list-style: none;
      font-size: 12px;
      padding: 0 5px;
    }
    li:not(.navigation):hover {
        background: #81F781;
        cursor: pointer;
    }
    li.active {
      background: #81F781;
    }
    a.prev {

    }
    a.next {
      float: right;
    }
  }
  .choosed {
    width: 100%;
    min-height: 100px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    margin: 5px 0 0 0;
    padding: 5px;
    padding-left: 0;
    span.item {
      background: #F5F6CE;
      padding: 2px 8px 2px 3px;
      border-radius: 2px;
      display: inline-block;
      margin-bottom: 3px;
      margin-left: 3px;
      z-index: 98;
      span {
        color: #FF0000;
        position: relative;
        top: 2px;
        left: 5px;
      }
      span:hover {
        cursor: pointer;
      }
    }
  }
}
.no-display {
  display: none;
}