.template-engine-widget {
    overflow: hidden;
}

.template-engine-droppable {
    border: solid black 1px;
    border-radius: 2px;
}

.template-engine-container {
    float: left;
}

.template-engine-result {
    background: #666;
    width: 514px;
    height: 300px;
}

.template-engine-tree-widget,
.template-engine-result,
.template-engine-search {
    height: 400px;
}

.template-engine-search {
    background: #666;
}

.template-engine-tree {
    width: 100%;
}

.template-engine-template {
}

.template-engine-selected {
    color: white;
    border: 2px solid black;
}

.template-engine-tree-widget,
.template-engine-template {
    background: #999;
    color: #fff;
}

.template-engine-tree-widget {
    background: #666;
    width: 300px;
}

.template-engine-template {
    width: 150px;
}

.template-engine-element {
    border-radius: 5px;
    color: black;
    text-align: center;
    background: lightblue;
    height: 32px;
    margin: 2px 2px;
    font-size: 16px;
    padding: 3px;
}

.template-engine-category {
}

.template-engine-mark {
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    margin-right: 1px;
    width: 10px;
}

.template-engine-element div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.template-engine-result .template-engine-element {
    float: left;
}

.template-engine-tree-widget {
    width: 300px;
}

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 600px;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}
.dd-collapsed .dd-list {
    display: none;
}

.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    position: relative;
    margin: 0; padding: 0;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    display: block;
    height: 30px;
    margin: 3px 3px;
    padding: 5px 10px;
    color: #333;
    border: 1px solid #ccc;
    background-color: lightcoral;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
    content: '-';
}

.dd-placeholder, .dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}