.template-engine-widget {
    overflow: hidden;
}

/*
    Stylize glyphicons
*/
.template-engine-category .glyphicon {
    margin-left: 2px;
}
.template-engine-category .glyphicon {
    cursor: pointer; color: #3c3c3c;
}
.template-engine-category .glyphicon:hover {
    cursor: pointer; color: #7b1010;
}

/*
    Center fix for remove button on category element (in result
    container with categories) and the same fix for glyphicon for
    items in categories but with 2(0) pixels offset
*/
.template-engine-category .glyphicon {
    transform: translateY(5px); font-size: 12px;
}
.template-engine-category .glyphicon:hover {
    transform: translateY(5px); font-size: 12px;
}
.template-engine-item .glyphicon {
    transform: translateY(-10px); font-size: 12px;
}
.template-engine-item .glyphicon:hover {
    transform: translateY(-10px); font-size: 12px;
}

.template-engine-category-collection {
    display: block;
    background: #a6a6a6;
    min-height: 500px;
    width: calc(100% - 195px);
    margin-left: 15px;
    margin-right: 10px;
    float: left;
    height: auto;
    border-radius: 5px;
    border: solid dimgray 1px;
}

.template-engine-items {
    min-height: 53px;
    height: auto;
    margin-left: 5px;
    width: calc(100% - 170px);
    border: dotted #ffffff 1px;
    border-radius: 5px;
}

.template-engine-item {
    border: solid dimgray 1px;
    height: 50px;
}

.template-engine-items .template-engine-item {
    box-sizing: border-box;
    height: 52px;
    margin: 0;
    width: auto;
    display: inline-block;
    float: left;
    min-width: 100px;
}

.template-engine-template {
    position: fixed;
    float: left;
    background: #ffffff;
    color: #fff;
    right: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.template-engine-nestable {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.template-engine-item, .template-engine-handle {
    border-radius: 5px;
    color: black;
    text-align: center;
    background: lightblue;
    width: 150px;
    height: 45px;
    font-size: 16px;
    margin: 3px;
    padding: 5px;
    min-width: 25px;
}

.template-engine-handle {
    background-color: lightcoral;
    margin: 0;
    padding: 0;
    width: 120px;
}

.template-engine-template .template-engine-item div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.template-engine-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.template-engine-list .template-engine-list {
    padding-left: 25px;
}

.dd-collapsed .template-engine-list {
    display: none;
}

.template-engine-category-static {
    background-color: #fff7ae;
}

.template-engine-category, .dd-empty, .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    float: none;
}

.template-engine-category .template-engine-items {
    line-height: 40px;
}

.template-engine-category div {
    display: inline-block;
}

.template-engine-category {
    height: auto !important;
    min-height: 50px;
    width: 100%;
}

.template-engine-handle {
    display: block;
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    width: 120px;
    padding: 5px 10px;
    color: #333;
    text-align: center;
}

.template-engine-handle-wrapper {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: lightcoral;
    border: solid dimgray 1px;
}

.template-engine-handle:hover {
    cursor: pointer;
}

.template-engine-placeholder, .dd-empty {
    padding: 0;
    background: #8c8c8c;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0 0 5px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    height: 50px;
}